<?xml version="1.0" encoding="UTF-8" ?>

<web-app>

<!--  servlet configuration-->

  <servlet>
    <servlet-name>myFirst</servlet-name>
    <servlet-class>MyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mySecond</servlet-name>
    <servlet-class>SecondServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>myThird</servlet-name>
    <servlet-class>ThirdServlet</servlet-class>
  </servlet>


<!--  servlet mapping-->
  <servlet-mapping>
    <servlet-name>myFirst</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mySecond</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myThird</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
</web-app>